@import '../../styles/variables.less';

.table {
  width: 100%;
  max-width: 1200px;
  border-collapse: collapse;
}

.table__header {
  border-bottom: 1px solid @grey;
}

.table__header-cell {
  color: @grey;
  text-align: left;
  font-size: 12px;
  font-weight: 400;
  padding: 16px 12px;
}

.table__row {
  border-bottom: 1px solid @grey;
}

.table__cell {
  color: @darkBlue;
  font-weight: 600;
  padding: 16px 12px;
}
